<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
	<li>
		<a href="/">Home</a><i class="fa fa-circle"></i>
	</li>
	<li  class="active">
		<a href="/settings/">Settings</a>
	</li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN PAGE CONTENT INNER -->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-cogs font-green-sharp"></i>
					<span class="caption-subject font-green-sharp bold uppercase">Lyris Connect</span>
				</div>
				<div class="tools">
					<a href="javascript:;" class="collapse">
					</a>
					<a href="#portlet-config" data-toggle="modal" class="config">
					</a>
					<a href="javascript:;" class="reload">
					</a>
					<a href="javascript:;" class="remove">
					</a> 
				</div>
			</div>
			<div class="portlet-body">
				<form role="form"  action="/settings/lyrisConnect" id="submit_form_lyrisConnect" method="POST" class="form-horizontal">
					<div class="alert alert-danger display-hide">
						<button class="close" data-close="alert"></button>
						Please check the Lyris details. Please check below.
					</div>
					<?php if($isSuccess == 1) { ?>
					<div class="alert alert-danger">
						<button class="close" data-close="alert"></button>
						Not able to connect with Lyris. Please try again.
					</div>
					<?php } ?>
					<?php if($isSuccess == 2) { ?>
					<div class="alert alert-success">
						<button class="close" data-close="alert"></button>
						You have successfully connected with Lyris
					</div>
					<?php } ?>
					<?php if($isSuccess == 3) { ?>
					<div class="alert alert-success">
						<button class="close" data-close="alert"></button>
						You have already connected with Lyris
					</div>
					<div class="form-group">
						<label for="inputEmail1" class="col-md-2 control-label">Lyris Site ID</label>
						<div class="col-md-4">
							<input type="text" class="form-control" name="data[tblUserSettings][SiteID]" value="<?php echo $lyrisSite; ?>" id="inputEmail1" placeholder="Site ID">
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword12" class="col-md-2 control-label">API Password</label>
						<div class="col-md-4">
							<input type="password" value="<?php echo $lyrisPassword; ?>" name="data[tblUserSettings][password]" class="form-control" id="inputPassword12" placeholder="Password">
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword12" class="col-md-2 control-label">Confirm API Password</label>
						<div class="col-md-4">
							<input type="password" value="<?php echo $lyrisPassword; ?>" class="form-control" id="inputPassword12" placeholder="Password">
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-offset-2 col-md-10">
							<button type="submit" class="btn blue">Connect</button>
						</div>
					</div>
					<?php } else { ?>
					<div class="form-group">
						<label for="inputEmail1" class="col-md-2 control-label">Lyris Site ID</label>
						<div class="col-md-4">
							<input type="text" class="form-control" name="data[tblUserSettings][SiteID]" id="inputEmail1" placeholder="Site ID">
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword12" class="col-md-2 control-label">API Password</label>
						<div class="col-md-4">
							<input type="password" name="data[tblUserSettings][password]" class="form-control" id="inputPassword12" placeholder="Password">
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword12" class="col-md-2 control-label">Confirm API Password</label>
						<div class="col-md-4">
							<input type="password" class="form-control" id="inputPassword12" placeholder="Password">
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-offset-2 col-md-10">
							<button type="submit" class="btn blue">Connect</button>
						</div>
					</div>
					<?php } ?>
				</form>
			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>
<!-- END PAGE CONTENT INNER -->