<div>
    <div><?php echo $creative['tblCreative']['cr_header']; ?></div>
    <div><?php echo $creative['tblCreative']['cr_body']; ?></div>
    <input type="hidden" value="<?php echo $object; ?>" id="das_hidden_key" />
    <div style="padding:5px 0px;">
        <span><input type="radio" name="das_inline_value" value="1"><label for="input_yes">Yes</label></span> &nbsp;&nbsp;&nbsp;
        <span><input type="radio" name="das_inline_value" value="0"><label for="input_no">No</label></span>
    </div>
    <div>
        <div style="float: left;"><input type="checkbox" id="das_privacy_agreement" checked  /> </div>
        <div style="float:left;margin-left:5px;"><?php echo $creative['tblCreative']['cr_privacy_url']; ?></div>
        <div style="clear:both;"></div>
    </div>
</div>