<?php if(!empty($breadcrumbs)){?>
<div class="bredcrum">
	<ul class="page-breadcrumb breadcrumb">
<?php foreach($breadcrumbs as $key => $breadcrumb){ ?>
		
	<?php if(count($breadcrumbs)==($key+1)){ ?>
		<li  class="active">
			<a href=""><?php echo $breadcrumb['name'];?></a> 
		</li>
		<?php }else { ?>
			<li>
			<a href="<?php echo $breadcrumb['url'];?>"><?php echo $breadcrumb['name'];?></a><i class="fa fa-circle"></i>
			</li>
			 
		<?php  }?>

	<?php }?>
	</ul>
 </div>
<?php } ?>
