<script>
    var countIn=0;
    var das_ff_fields = [];
//            function change_leadpost_status(ad_dfp_id, line_item_id, flight_id, status) {
//                var custom_fields = function (index, id) {
//                    var formData = [];
//                    var data_status = 1;
//                    flight = id.split('mapped_object_');
//                    flight_id = flight[1];
//                    jQuery('#das_custom_fields_container_' + flight_id + ' .das_custom').each(function (i) {
//                        fldId = jQuery(this).attr('id');
//                        formData[i] = {id: jQuery(this).attr('data-id'), value: jQuery(this).val()};
//                        if (jQuery(this).attr('required')) {
//                            if (jQuery(this).val() === '') {
//                                data_status = 0;
//                                jQuery(this).next('label').show();
//                            }
//                        }
//                    });
//                    return {status: data_status, data: formData};
//
//                }
//                jQuery('.das_input_error').hide();
//                var posting_status = 1;
//                jQuery.each(das_ff_fields, function (key, value) {
//                    if (value.pField !== '') {
//                        fld_id = jQuery('#' + value.pField);
//                        if (jQuery('#' + value.pField).length) {
//                            jQuery('#das_generic_' + value.aField).val(jQuery('#' + value.pField).val());
//                        }
//                        if (jQuery('input[type=radio][name=' + value.pField + ']').length) {
//                            jQuery('#das_generic_' + value.aField).val(jQuery('input[name=' + value.pField + ']:checked').val());
//                        }
//                        if (jQuery('input[type=radio][name=das_generic_' + value.pField + ']').length) {
//                            jQuery('#das_generic_' + value.aField).val(jQuery('input[name=das_generic_' + value.pField + ']:checked').val());
//                        }
//                    }
//                });
//
//                var formData = [];
//                jQuery('.das_generic').each(function (i) {
//                    fldId = jQuery(this).attr('id');
//                    formData[i] = {id: jQuery(this).attr('data-id'), value: jQuery(this).val()};
//                    if (jQuery(this).attr('required')) {
//                        if (jQuery(this).val() === '') {
//                            posting_status = 0;
//                            jQuery(this).next('label').show();
//                        }
//                        //console.log(formData[i]);
//                    }
//                });
//
//
//                var custom_data = {};
//                jQuery('.das-offer-checkbox').each(function (i) {
//                    if (jQuery(this).is(':checked')) {
//                        static_data = jQuery(this).val().split('&');
//                        custom_data[i] = {};
//                        var custom_fields_var = custom_fields(i, jQuery(this).attr('id'));
//                        if (custom_fields_var.status === 0) {
//                            posting_status = 0;
//                        }
//                        custom_data[i]['fields'] = custom_fields_var.data;
//                        custom_data[i]['data'] = {};
//                        jQuery.each(static_data, function (key, value) {
//                            exp_value = value.split('=');
//                            custom_data[i]['data'][key] = value;
//                        });
//
//                    }
//                });
//                console.log(custom_data);
//                console.log(formData);
//                if (posting_status === 1) {
//
//
//                    jQuery.ajax({
//                        type: "POST",
//                        url: '/orders/change_leadpost_status',
//                        data: 'ad_dfp_id=' + ad_dfp_id + '&li_id=' + line_item_id + '&flight_id=' + flight_id + '&status=' + status,
//                        dataType: "html",
//                        success: function (data) {
//                            alert('Lead Posted..');
//                            window.location = "<?php echo Configure::read('Path.siteurl') . 'orders/view_flights/'; ?>" + line_item_id;
//
//                        }
//                    });
//                }
//            }
    function send_test_lead(ad_dfp_id, line_item_id, flight_id, status) {

       // jQuery("body").prepend('<div id="preloader" style="position:fixed; width:100%; height:100%;top:0; left:0; background: #000; opacity: 0.4; z-index:9999;"><center><h2 style="color:#fff; margin-top:45%;">Loading...</h2></center></div>');
        var custom_fields = function (index, id) {
            var formData = [];
            var data_status = 1;
            flight = id.split('mapped_object_');
            flight_id = flight[1];
            jQuery('#das_custom_fields_container_' + flight_id + ' .das_custom').each(function (i) {
                fldId = jQuery(this).attr('id');
                formData[i] = {id: jQuery(this).attr('data-id'), value: jQuery(this).val()};
                if (jQuery(this).attr('required')) {
                    if (jQuery(this).val() === '') {
                        data_status = 0;
                        jQuery(this).next('label').show();
                    }
                }
            });
            return {status: data_status, data: formData};

        }
        jQuery('.das_input_error').hide();
        var posting_status = 1;
        jQuery.each(das_ff_fields, function (key, value) {
            if (value.pField !== '') {
                fld_id = jQuery('#' + value.pField);
                if (jQuery('#' + value.pField).length) {
                    jQuery('#das_generic_' + value.aField).val(jQuery('#' + value.pField).val());
                }
                if (jQuery('input[type=radio][name=' + value.pField + ']').length) {
                    jQuery('#das_generic_' + value.aField).val(jQuery('input[name=' + value.pField + ']:checked').val());
                }
                if (jQuery('input[type=radio][name=das_generic_' + value.pField + ']').length) {
                    jQuery('#das_generic_' + value.aField).val(jQuery('input[name=das_generic_' + value.pField + ']:checked').val());
                }
            }
        });

        var formData = [];
        jQuery('.das_generic').each(function (i) {
            fldId = jQuery(this).attr('id');
            formData[i] = {id: jQuery(this).attr('data-id'), value: jQuery(this).val()};
            if (jQuery(this).attr('required')) {
                if (jQuery(this).val() === '') {
                    posting_status = 0;
                    jQuery(this).next('label').show();
                }
                //console.log(formData[i]);
            }
        });


        var custom_data = {};
        jQuery('.das-offer-checkbox').each(function (i) {
            if (jQuery(this).is(':checked')) {
                static_data = jQuery(this).val().split('&');
                custom_data[i] = {};
                var custom_fields_var = custom_fields(i, jQuery(this).attr('id'));
                if (custom_fields_var.status === 0) {
                    posting_status = 0;
                }
                custom_data[i]['fields'] = custom_fields_var.data;
                custom_data[i]['data'] = {};
                jQuery.each(static_data, function (key, value) {
                    exp_value = value.split('=');
                    custom_data[i]['data'][key] = value;
                });

            }
        });
        alert(JSON.stringify(custom_data));
        if (posting_status === 1) {
          alert('ad_dfp_id=' + ad_dfp_id + '&li_id=' + line_item_id + '&flight_id=' + flight_id + '&status=' + status + "&fData=" + JSON.stringify(formData) + '&customData=' + JSON.stringify(custom_data));
          jQuery.ajax({
                type: "POST",
                url: '/orders/lead_posting',
                data: 'ad_dfp_id=' + ad_dfp_id + '&li_id=' + line_item_id + '&flight_id=' + flight_id + '&status=' + status + "&fData=" + JSON.stringify(formData) + '&customData=' + JSON.stringify(custom_data),
                dataType: "json",
                success: function (data) {
                    alert(JSON.stringify(data));
                    if (data) {
                        jQuery('#output_str').show();
                        jQuery('#request').html('<pre>'+JSON.stringify(data.request)+'</pre>');
                        jQuery('#response').html('<pre>'+data.response.text+'</pre>');
                        $(".testleadBtn").hide();
                    }
                     //jQuery("#preloader").remove();
                }
            });
//                    jQuery.ajax({
//                        type: "POST",
//                        url: '/orders/change_leadpost_status',
//                        data: 'ad_dfp_id='+ad_dfp_id +  '&li_id='+ line_item_id+ '&flight_id=' + flight_id + '&status=' + status,
//                        dataType: "html",
//                        success: function (data) {
//                            alert('Lead Posted..');
//                            window.location = "<?php echo Configure::read('Path.siteurl') . 'orders/view_flights/'; ?>" + line_item_id;
//
//                        }
//                    });
        }
    }
    function page_return(line_item_id) {
        window.location = "<?php echo Configure::read('Path.siteurl') . 'orders/view_flights/'; ?>" + line_item_id;
    }
</script>
<script>

    function template(value) {
        //  if (value == 1)
        // window.location.href = 'http://digitaladvertising.systems/orders/coreg_detail/227/4e9b9d347c2911e6b91e123aa499f9d5/1';
        // else if (value == 2)
        //   window.location.href = 'http://digitaladvertising.systems/orders/coreg_detail/227/4e9b9d347c2911e6b91e123aa499f9d5/2';
        //   else
        //   wwindow.location.href = 'http://digitaladvertising.systems/orders/coreg_detail/227/4e9b9d347c2911e6b91e123aa499f9d5/1';
    }
</script>
<?php //echo "<pre>"; print_r($adunit); exit(); ?>
<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Test Lead Posting
                </div>
            </div>
            <div class="portlet-body form">


                <div class='wrapper'>
                    <!-- <div class='header t-row'>
                         <div class='header--center t-cell qh-logo'>
                             <label>
                                
                             </label>
                         </div>
                         <div class='header--right t-cell' data-condition='Wellness' style='
                              '>Wellness</div>
                     </div>-->
                    <div id="das_inline_offers"></div>
                    <div>
                        <div id="output_str" style="display: none;">
                            <h3>Request String</h3>
                            <div id="request" style="overflow-x: scroll;"></div>
                            <h3>Response String</h3>
                            <div id="response"></div>
                        </div>
                    </div>
                    <div style="background-color: #eeeeee;margin: 20px 0px;padding:20px 0px;">
                        <button class="btn green testleadBtn" style="padding:10px;margin-left: 20px;" onclick="send_test_lead(<?php echo $adunit['tblAdunit']['ad_dfp_id']; ?>,<?php echo $line_item_id . ',' . $flight_id; ?>, 2);">Send Test Lead</button> &nbsp;&nbsp;
                        <button class="btn green" style="padding:10px;margin-left: 20px;" onclick="page_return(<?php echo $line_item_id; ?>);">Return</button>

                    </div>
                    <script type='text/javascript' id='das_addunit_offers' src="<?php echo Configure::read('api.url').'js/offers_test_mode.js?auid=' . $ad_uid . '&test=1&li_id=' . $line_item_id . '&flight_id=' . $flight_id; ?>"></script>
                    <!--  <div class='extras'>
                          <font color='#333333' face='arial, verdana' size='1'>
                          <div class='campaignExtras'>
                              <div class='certSeals clearBoth' id='divCertificationSeals_certificationSeals'>
                                  <div class='footer' style='margin: 0px;'>
                                      <div class='rowSpecial' style='border-top: 0px;'>
                                          <span class='columnTwo' style='float:left'>
                                          </span>
                                          <div class='clearBoth' ></div>
                                      </div>
                                  </div>
                              </div>
                              <div style='padding-bottom:10px;'>
                                  <div class='legalDisclaimer' id='legalPolicy_legalPolicyInsert'>
                                      <font color='#333333' face='arial, verdana' size='1'>* QualityHealth.com is not affiliated with any of the listed products, brands, or merchants. This offer is an independent program for consumers. Trademarks, service marks, and/or logos (including individual product names) are the property of their respective owners, who have no association with and make no endorsement of the products and services provided by QualityHealth.com. QualityHealth.com is solely responsible for all offer fulfillment.<br /><br />These promotions are brought to you by QualityHealth.com and are subject to participation terms and conditions. Receipt of an offer requires completion of the following offer terms: 1) valid age, shipping address verification, and registration on QualityHealth.com with a valid email address; 2) completion of member registration survey questions. <br /><br />&#8232;Upon completion of participation requirements, we will ship the offer to you free of charge. Please allow 4 to 6 weeks for delivery. Samples are available for U.S. residents only. Limit one per household while quantities last. The product displayed may not be representative of the actual size of the offer.</font>
                                  </div>
                              </div>
                              <div class='privacyPolicyDisclaimer' id='privacyPolicy:privacyPolicyInsert'></div>
                          </div>
                          </font>
                      </div> -->
                </div>
            </div>
        </div>
    </div>

</div>
