 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1a/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title><?php  echo $title;?></title>
        <style type="text/css">
			<!--
				.style1 {font-size: 12px}
				.style4 {font-size: x-small}
				.style5 {font-size: 9px}
			-->
		</style>
	</head>
	
    <body style="background:#FFF;">
		<?php echo $this->fetch('content'); ?>
	</body>
	
</html>
