
<table style="width: 100%;" border="0" cellpadding="0" cellspacing="0">
			<tbody>
				<tr>
					<td align="center">
						<table id="mainouter" style="padding: 0px; margin: auto; width: 650px; border: 1px solid #000000; font-family: Arial,Helvetica,sans-serif;" border="0" cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td colspan="2"><img title="<?php echo $content['sector']; ?>" alt="<?php echo $content['sector']; ?>" src="<?php echo $content['logo']; ?>" height="90" width="650" /></td>
								</tr>
								<tr>
									<td colspan="2" style="padding: 15px 0 5px 10px; text-align: left; font-size: 16px; color: #282a2b;"><span style="background-color: #ffff00;"><strong>2 <?php echo $content['sector']; ?>" Movers Up Over <span style="color: #f63308;"><span style="font-size: 18px;"><?php echo $content['topPer']; ?>%</span></span></strong></span><strong>&nbsp;Last Week &amp; Up Today<br /></strong></td>
								</tr>
								<tr>
									<td colspan="2" style="padding: 0 0 5px; margin: 5 9px 9px; text-align: left; font-size: 13px; color: #282a2b; display: block;" height="20"><span style="font-size: x-small;"><?php echo date("l, F jS, Y"); ?></span></td>
								</tr>
								<tr>
									<td style="text-align: center;">
										<div style="text-align: left;" class="gform_heading">
											<blockquote>
												<p><span><strong>Top 10 Stocks for the Coming Earnings Season</strong></span><br /> Are you leveraging Stocks Earnings in your trading strategy? Test-drive our cutting edge screening tool, built for Traders by Traders. Whether you are an Event Trader, Options Trader, Gap Trader or Investor, our simple yet powerful tool screens stocks earnings by using our Volatility Predictive Model.</p>
												<p><a href="http://tracking.digitaladvertising.systems/leadTrack.php?idsite=309&amp;rec=1&amp;c_n=creative_123-mailing_861&amp;c_p=7006f1ba01be11e6b91e123aa499f9d5&amp;c_i=lead&amp;email=%%emailaddress%%&amp;redirect=https%3A%2F%2Fstocksearning.com%2Fsignup-premium-member.aspx"><strong>Click here to automatically subscribe to our free newsletter and get FREE access to "Top 10 Stocks to Buy in the next earnings season" &gt;&gt;</strong></a></p>
											</blockquote>
										</div>
									</td>
								</tr>
								<tr>
									<td colspan="2" style="padding: 15px; color: #5b5b5b; line-height: 20px; text-align: right;">
										<div style="text-align: left;" align="left"><hr /><span style="font-family: verdana,geneva; font-size: x-small;"><span style="font-family: verdana,geneva; font-size: x-small;">Below is a list of <strong><span style="background-color: #ffff00;">2 <?php echo $content['sector']; ?> Movers that are up over <?php echo $content['topPer']; ?>%</span></strong>&nbsp;last week and Up Today! Keep in mind, these are very volatile stocks. We are not recommending these stocks, we are just reporting the big movers. We compile lists of Stocks that make large daily gains, typically over the past 5 days and trading heavy. We do not get paid to promote these stocks or recommend them, we just report the big movers.<br /> </span></span></div>
										<div style="text-align: left;" align="left"><hr />
											<p><b>[Urgent] Read NOW if You&rsquo;re on Social Security... or Soon Will Be<br /></b>Anyone who is dependent on a fixed income &mdash; like Social Security or a pension &mdash; is considered &ldquo;high risk&rdquo; for losing everything when the next currency crisis hits.<b> &nbsp;<a href="http://dailystockmovers.go2cloud.org/aff_c?offer_id=147&amp;aff_id=1052&amp;source=nl">Read More &gt;&gt;</a></b></p>
										</div>
									</td>
								</tr>
								<tr>
									<td colspan="2">
										<table style="text-align: center; font-size: 13px; margin: 0px 10px; border: 1px solid #e3e3e3; width: 97%; background: #f7f7f7;" border="0" cellpadding="0" cellspacing="0">
											<tbody>
												<tr style="background: #e3e3e3;">
													<td style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; border-bottom: 1px solid #c3c3c3; border-top: 1px solid #dadada;" width="7%"><span style="font-size: x-small;">&nbsp;#</span></td>
													<td style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; border-bottom: 1px solid #c3c3c3; border-top: 1px solid #dadada; border-left: 1px solid #fff; border-right: 1px solid #cacaca;" width="16%"><span style="font-size: x-small;">Symbol</span></td>
													<td style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; border-bottom: 1px solid #c3c3c3; border-top: 1px solid #dadada; border-left: 1px solid #fff; border-right: 1px solid #cacaca;" width="26%"><span style="font-size: x-small;">Company</span></td>
													<td style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; border-bottom: 1px solid #c3c3c3; border-top: 1px solid #dadada; border-left: 1px solid #fff; border-right: 1px solid #cacaca;" width="15%"><span style="font-size: x-small;">Category</span></td>
													<td style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; border-bottom: 1px solid #c3c3c3; border-top: 1px solid #dadada; border-left: 1px solid #fff; border-right: 1px solid #cacaca;" width="18%"><span style="font-size: x-small;">% Price Change Last 5 Days</span></td>
													<td style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; border-bottom: 1px solid #c3c3c3; border-top: 1px solid #dadada; border-left: 1px solid #fff;" width="18%"><span style="font-size: x-small;">Performance vs. Industry</span></td>
												</tr>
												<?php
													$i = 0;
													foreach($content['list'] as $stock) { ?>
													<tr>
														<td style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; border-bottom: 1px solid #c3c3c3; border-right: 1px solid #cacaca;"><span style="font-size: x-small;">1</span></td>
														<td style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; border-bottom: 1px solid #c3c3c3; border-left: 1px solid #fff; border-right: 1px solid #cacaca;"><span style="font-size: x-small;"><?php echo $stock['Symbol']; ?></span></td>
														<td style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; border-bottom: 1px solid #c3c3c3; border-left: 1px solid #fff; border-right: 1px solid #cacaca;"><font size="1"><?php echo $stock['Name']; ?></font></td>
														<td style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; border-bottom: 1px solid #c3c3c3; border-left: 1px solid #fff; border-right: 1px solid #cacaca;"><span style="font-size: x-small;"><?php echo $stock['Sector']; ?></span></td>
														<td style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; border-bottom: 1px solid #c3c3c3; border-left: 1px solid #fff; border-right: 1px solid #cacaca;">
															<p class="style4"><span style="font-size: x-small;">+<?php $dayRevenu = number_format($stock['ChangePerc'], 2, '.', ''); echo $dayRevenu; ?>%</span></p>
														</td>
														<td style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; border-bottom: 1px solid #c3c3c3; border-left: 1px solid #fff;"><span style="font-size: x-small;">+104%</span></td>
													</tr>
													<?php 
														$i++;
														if($i == 2)
														break;
													} ?>
													<tr>
														<td colspan="6" style="padding: 15px; color: #5b5b5b; line-height: 20px;">
															<p align="left"><span style="font-family: verdana,geneva; font-size: x-small;">Every Stock Trader is looking are looking for OTC volume movers to put on their speculative penny stock pick watch list for review. We constantly release exclusive breaking stock reports from our Top Stock analysts. Please keep in mind we are not recommending these stocks and by the time this report is delivered they may have changed in price significantly.</span></p>
														</td>
													</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td style="padding: 0 0 9px; margin: 0 10px 12px; text-align: left; font-size: 13px; vertical-align: top; color: #282a2b; display: block;" width="97%">
										<p style="padding-left: 30px;"><strong><a href="http://dailystockmovers.go2cloud.org/aff_c?offer_id=98&amp;aff_id=1006&amp;source=nl"><br /></a></strong></p>
										<div style="padding-left: 30px;"><span><strong><a href="http://dailystockmovers.go2cloud.org/aff_c?offer_id=98&amp;aff_id=1006&amp;source=nl">We Have Found The Revolutionary Day Trading Strategy</a></strong><span>&nbsp;That's&nbsp;</span><u>SO Powerful</u><span>&nbsp;It's Transforming Consistently Losing Traders Into SUPER Traders Faster Than Anything Before. &nbsp;This webinar gives you the simple secret to skyrocketing your day trading accuracy, the #1 hidden mistake and 7 unique techniques in producing results.</span><strong><br /><strong><a href="http://dailystockmovers.go2cloud.org/aff_c?offer_id=98&amp;aff_id=1006&amp;source=nl">Click Here to Learn About this Strategy&nbsp;&gt;&gt;</a></strong></strong><strong>&nbsp;</strong></span></div>
									</td>
								</tr>
								<tr>
									<td style="background: #e8e8e8; font-size: 14px; display: block; text-align: center; padding: 10px 0 10px 0; color: #000; margin: 0 4px 0 0;" height="311">
										<p class="style18"><span style="font-size: x-small;"><a href="http://%%unsubscribelink%%/">Unsubscribe me from this list</a><a href="http://%%unsubscribelink%%/"></a></span></p>
										<p class="style18"><span style="font-size: x-small;"><span class="style5">Wall Street Movers - P.O. Box 8808 - New Fairfield - CT - 06812</span></span></p>
										<table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0">
											<tbody>
												<tr>
													<td style="padding: 5px 10px;" width="654">
														<p class="style1" align="center"><span style="font-family: arial,helvetica,sans-serif; font-size: xx-small;"><strong>Important Notice and Disclaimer</strong></span></p>
														<p class="style1"><span style="font-family: arial,helvetica,sans-serif; font-size: xx-small;">Wall Street Movers is a website which provides vis itors with the oppor tunity to vis it the websites of third parties which offer advice, opinions, recommendations, observations or statements concerning the securities of publicly traded companies. All statements concerning any of the third parties which link to this website are made by the respective third parties and are the property of such third parties and appear on this website with the permission of such third parties. Wall Street Movers does not purport to recommend any of the third parties which link to this website, or any of the third parties' services, and has not independently reviewed the accuracy or completeness of any of the statements made by these third parties on this website or elsewhere and makes no warranty whatsoever with respect to the truth, accuracy or completeness of any third par ty statements appearing on this website. Wall Street Movers does not endorse any recommendations, advice, opinions, observations or statements made by such third parties on this website or elsewhere.</span></p>
														<p class="style1"><span style="font-family: arial,helvetica,sans-serif; font-size: xx-small;">Wall Street Movers does not purport to provide an analysis of any company's financial position, operations or prospects, and does not offer, solicit or recommend the pur chase or sale of any specific company's securities. Wall Street Movers disclaims any lia bility resulting from how vis itors may choose to utilize the contents of this website or the third par ty websites which link to this website. All third par ty statements appearing on this website should be construed as advertising by the respective third parties. Wall Street Movers may receive compensation from such third parties for providing them with a forum in which to make their advertising statements, and/or in the event that a vis itor to this website clicks through to a third par ty website which links to this website and/or in the event that a vis itor to this website who clicks through to a third par ty website subsequently pays for services provided by such third parties. By providing us with your e-mail address, you agree that we may use your e-mail address in accordance with our pri vacy policy. Readers should perform their own due diligence and are strongly urged to independently verify all third par ty statements appearing on this website.</span></p>
													</td>
													<td></td>
												</tr>
												<tr height="10" valign="bottom">
													<td height="20" width="10"></td>
													<td></td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
		<img src="http://tracking.digitaladvertising.systems/piwik.php?idsite=309&rec=1&c_n=123&c_p=7006f1ba01be11e6b91e123aa499f9d5-861&send_image=0" width="1" height="1">
